:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  --font-monospace: "JetBrains Mono", "Cascadia Code", "Menlo", "Consolas",
    monospace;
  --bit-color0: hsl(190, 30%, 20%);
  --bit-color1: hsl(190, 60%, 90%);
}

.pal-green {
  --bit-color0: hsl(150, 29%, 20%);
  --bit-color1: hsl(150, 60%, 90%);
}

helix-file,
helix-preview,
helix-font {
  display: block;
}

textarea {
  resize: none;
}

body {
  max-width: min-content;
  margin: 0 auto;
  font-family: var(--font-sans);
  padding: 1rem;
  line-height: 1.5;
}

pre,
code,
textarea {
  font-size: inherit;
  font-family: var(--font-monospace);
}

footer {
  margin: 1rem 0;
}

.gap-1rem {
  grid-gap: 1rem;
  gap: 1rem;
}

.grid {
  display: grid;
}

.grid-2col {
  /* grid-template-columns: 1rem 1rem; */
}

.margin-0 {
  margin: 0;
}

.border-0 {
  border: 0;
}

.size-min {
  width: min-content;
  height: min-content;
}
